.tag {
  display: flex;
  background: #ff6060;
  border-radius: 20px;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  max-height: 20px;
}

.tagText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
  text-align: center;
  color: #ffffff;
}
.tagInformation {
  display: flex;
  margin: 5px -10px;
}
@media screen and (max-width: 699px) {
  .tagInformation {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .tagText {
    line-height: 1;
  }
}
