.bodyError {
  background-color: #E5E5E5;
}

.blocError {
  display: flex;
  flex-direction: column;
  align-items: center;

}

strong {
  font-size: 288px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #FF6060;

}

.phraseError {
  font-size: 36px;
  color: #FF6060;
}

.paragError {
  padding: 70px;
  font-size: 18px;
  text-decoration: underline;
  color: #FF6060;
}

.description {
  background-color: #F6F6F6;
  font-style: normal;
  height: 280px;
  border-radius: 10px;
}

.borderDescription {
  background-color: #FF6060;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer
}

.borderDescription p {
  margin-left: 15px;
}

.propsContent {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 25px;
  color: #FF6060; 
  margin-left: 15px; 
}

.imageAbout {
  width: 80%;
  height: 180px;
  filter: contrast(0.8);
  border-radius: 15px;
}

.bloc-rating {
  display: flex;
  flex-direction: row-end;
  margin-right: 40px;
}

.items {
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
  color: #FF6060;
  display: block;
  padding: 0 0 0 80px;
}

.header {
  width: 90%;
  margin: 2% 0 1% 5%;
}

.header ul {
  display: flex;
  padding: 0;
  justify-content: flex-end;
}

.header li {
  display: block;
  padding: 0 0 0 80px;

}

.header a {
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
  color: #FF6060;
}

.header a:hover {
  text-decoration: underline;
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  font-size: 24px;
}

.cover {
  margin: 20px 50px;
}

.dropdown__box {
  width: 60%;
  margin: 15px 0 15px 0;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 50px 0 50px 0;
}

.bulletPoint {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  color: white;
  left: 48%;
  cursor: pointer;
}