.header {
    margin: 10px;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .header ul {
    display: flex;
    justify-content: flex-end;
  }
  
  .header li {
    display: block;
    padding: 0 0 0 20px;
  
  }
  
  .header a {
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: #FF6060;
  }
  
  .header a:hover {
    text-decoration: underline;
  }
  